<!DOCTYPE html>
<html>
  <title>Industrial Risk Guru</title>
  <head>
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
  </head>
  <body>    
  <center>
      <h1>
      Industrial Risk Chatbot
      
       Using Dialog Flow
      </h1>
       <img src="/static/images/bot-pic.PNG">  
    </center>
<df-messenger
  intent="WELCOME"
  chat-title="GURU2.0"
  agent-id="06967bf9-e888-4316-a009-2e12e0a9e8ce"
  language-code="en"
></df-messenger>
</div></body> </html> 